<p class="page-notice" id="notice"><%= notice %></p>

<h1>Ofrendas</h1>

<div class="accordion" id="accordion1">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
        Nuevas Ofrendas
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div id="ofrenda-form" class="accordion-inner">
        <%= render 'form' %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
        Búsqueda
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class='col-sm-3'>
          <div class="form-group">
            <div class='input-group date' id='datetimepicker'>
              <input type='text' class="form-control" />
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </div>
          </div>
        </div>
        <script type="text/javascript">
        $(function () {
          $('#datetimepicker').datetimepicker({
            format: "dddd DD/MM/YYYY",
            showTodayButton: true,
            locale: "es"
          });
        });
        </script>
      </div>
    </div>
  </div>
</div>

<div id="ofrenda-table">
  <%= render 'table' %>
</div>
