/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require active_list
*= require rails_bootstrap_forms
*= require_tree .
*= require_self
*/

// @import "active_list";

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "font-awesome-sprockets";
@import "font-awesome";

@import url(http://fonts.googleapis.com/css?family=Bree+Serif);


td.monto {
  text-align: right;
}

.field {
  padding: 10x 0;
}

.btn-default {
  background-color: #C4C7D7;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.button-search {
  padding: 8px 15px;
  border: none;
  background-color: #5498da;
  color: white;
  text-transform: uppercase;
  font-weight: 600 !important;
  white-space: nowrap;
}

span.icon {
  font-family: 'Glyphicons Halflings';
}

.total-row {
  font-weight: bold
}

.total-row-title {
  text-align: right
}

.total-column {
  text-align: right
}


/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
* Global add-ons
*/

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
* Top navigation
* Hide default border to remove 1px line.
*/
.navbar-fixed-top {
  border: 0;
}

/*
* Sidebar
*/

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
* Main content
*/

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
* Placeholder dashboard ideas
*/

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}



.panel-heading {
  cursor: pointer;
}

.accordion {
  border-bottom-color: rgb(229, 229, 229);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(229, 229, 229);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(229, 229, 229);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(229, 229, 229);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  color: rgb(51, 51, 51);
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 2px;
  width: 100%;
}


.accordion-group {
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: block;
}

.accordion-heading {
  border-bottom: 0;
  display: block;
}

.accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
}

.accordion-toggle {
  cursor: pointer;
}

.accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid #e5e5e5;
  display: block;
}

// Added from spree

table.table {
  thead {
    th {
      text-transform: uppercase;
      font-size: $font-size-base - 3px;
      padding-top: 4px;
      padding-bottom: 4px;
      vertical-align: middle;
      letter-spacing: 1px;

      a {
        .glyphicon {
          padding-left: 5px;
          font-family: 'Glyphicons Halflings';
        }
      }
    }
  }
  tbody {
    tr {
      td {
        vertical-align: middle;
        .filterable {
          font-size: 0.8em;
          margin-left: 0.2em;
          color: white; // hidden, but space is reserved for the icon
          cursor: pointer;
        }
      }
      &:hover td .filterable {
        color: #666;
      }
    }
  }
}

.table-active-filters {
  display: none;
  margin: -0.5em 0 0.9em 0;
  .label {
    margin-right: 0.5em;
    font-size: 85%;
    &:hover {
      opacity: 0.8;
    }
    span.icon {
      margin: 0.3em 0 0 0.6em;
      font-size: 80%;
      cursor: pointer;
    }
  }
}

// Added for same height columns - idea from: http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height
.container-xs-height {
  display:table;
  padding-left:0px;
  padding-right:0px;
}
.row-xs-height {
  display:table-row;
}
.col-xs-height {
  display:table-cell;
  float:none;
}
@media (min-width: 768px) {
  .container-sm-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
  }
  .row-sm-height {
    display:table-row;
  }
  .col-sm-height {
    display:table-cell;
    float:none;
  }
}
@media (min-width: 992px) {
  .container-md-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
  }
  .row-md-height {
    display:table-row;
  }
  .col-md-height {
    display:table-cell;
    float:none;
  }
}
@media (min-width: 1200px) {
  .container-lg-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
  }
  .row-lg-height {
    display:table-row;
  }
  .col-lg-height {
    display:table-cell;
    float:none;
  }
}
/* vertical alignment styles */
.col-top {
  vertical-align:top;
}
.col-middle {
  vertical-align:middle;
}
.col-bottom {
  vertical-align:bottom;
}

.align-right {
  text-align: right;
}

.row-title {
  font-family: 'Bree Serif', Serif, Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: normal;
}

.row-content {
  font-family: 'Bree Serif', Serif, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
}


.show-field {
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(204, 204, 204);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(204, 204, 204);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(204, 204, 204);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  box-sizing: border-box;
  color: rgb(85, 85, 85);
  cursor: auto;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 34px;
  letter-spacing: normal;
  line-height: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  text-align: start;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  transition-delay: 0s, 0s;
  transition-duration: 0.15s, 0.15s;
  transition-property: border-color, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out;
  //width: 532.078125px;
  word-spacing: 0px;
  //writing-mode: lr-tb;

}

.show-title {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  cursor: default;
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-bottom: 5px;
  max-width: 100%;
}


/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
